<div> <a href="{{url_for('main.index')}}">Expense Tracker</a>:
        <a href="{{url_for('auth.login')}}">Home</a>
        {%if current_user.is_anonymous%}
        <a href="{{url_for('auth.login')}}">Login</a>
        
        {%else%}
        <a href="{{url_for('main.expensetype')}}">ExpenseTypes</a> |        
        <a href="{{url_for('main.expense')}}">Expenses</a> |
        <a href="{{url_for('crypto.exchange')}}">Exchanges</a> | 
        <a href="{{url_for('crypto.fiatcurrency')}}">Currencies</a> |
        <a href="{{url_for('crypto.dataprovider')}}">Data Providers</a> | 
        <a href="{{url_for('crypto.messagetype')}}">Message Types</a> | 
        <a href="{{url_for('crypto.dataprovidersourceurl')}}">Providers Source URLs</a>
        <a href="{{url_for('auth.logout')}}" class="btn btn-danger btn-sm">Logout</a>
        {%endif%}
    </div>
    <hr>